# archivos de compilacion
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# carpeta de IDE (VSCode)
.idea/
.vscode/
cmake-build-debug/

echo "reproductor" > .gitignore
echo "*.o" >> .gitignore
echo "status.cfg" >> .gitignore
echo "song_ranking.txt" >> .gitignore