# archivos de compilacion
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# carpeta de IDE (VSCode)
.idea/
.vscode/
cmake-build-debug/

# Archivos generados y ejecutables del proyecto

reproductor
status.cfg
song_ranking.txt